body {
    
    h1 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
    }

    h2 {
        font-size: 1.33em;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
    }

    h4 {
        font-size: 1.4em;
    }

    .address {
        font-size: 1.0em;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center
    }

    .content {
        margin-left: 20%;
        margin-top: 75px;
    }
}
